{
  "plugins": [
    ["@babel/plugin-transform-for-of", { "assumeArray": true }],
    ["@babel/plugin-transform-destructuring", {"loose": true}]
  ],
  "presets": [["@babel/preset-env", { "modules": false }]]
}
